@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-2">Welcome to Bart's Trading Card Game Database</h1>
<br />
<h1 class="display-5">About this website</h1>
<p class="h6">Database containing a lot of different cards. Search for you favorites or browse randomly to find new favorites.</p>
